* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* section about travel start */
.aboutTravel {
    width: 100%;
    height: 1000px;
    position: relative;
}
.img-box {
    
    height: 620px;
    width: 100%;
    background-image: url(images/gffg-min.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.empty-box {
    height: 410px;
    width: 980px;
    background-color: #e83f47;
    position: absolute;
    top: 433px;
    right: 284px;
}
.growth-strategy {
    width: 861px;
    height: 516px;
    background-color: #292d33;
    position: absolute;
    right: 342px;
    bottom: 211px;
    text-align: center;
    color: white;
    padding: 30px;
}
.growth-strategy h2 {
    width: 799px;
    height: 24px;
    margin: 0 1px;
    text-align: center!important;
    font-family: Roboto, sans-serif;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.2;
    color: white;

}
.growth-strategy h1 {
    width: 622px ;
    height: 93px;
    margin: 20px auto 0;
    text-align: center!important;
    color: white;
    font-size: 4.5rem;
    font-family: Oswald, sans-serif !important;
    line-height: 1.1;
    font-weight: 700;
}
.growth-strategy p {
    width: 799px;
    height: 98px;
    margin: 20px 1px 0;
    text-align: center!important;
    color: white;
    line-height: 1.8;
    font-size: 1.125rem;
    font-family: Montserrat,sans-serif;
}
.img {
    text-align: center!important;
    color: white;
    line-height: 1.8;
    font-size: 1.125rem;
    font-family: Montserrat,sans-serif;
    position: absolute;
    left: 5px;
}

.freepik {
    position: relative;
    top: 19px;
    left:  48px;
    text-align: center!important;
    color: white;
    line-height: 1.8;
    font-size: 1.125rem;
    font-family: Montserrat,sans-serif;
}
.freepik:hover {
    text-decoration: none;
    cursor: pointer;
}
.button {
    border: 2px solid red;
    width: 231px;
    height: 72px;
    position: absolute;
    bottom: 85px;
    left: 312px;
    padding: 25px 47px 20px 46px;
    color: white;
    letter-spacing: 2px;
    font-size: 1rem;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.button:hover {
    background-color: red;
}
/* end section */

/* start information section */
.information {
    width: 100%;
    height: 1500px;
    background-color: #e5e5e5;
    position: relative;
    bottom: 381px;
    z-index: -1;
}
.red-box {
    width: 318px;
    height: 360px;
    background-color: #e83f47;
    position: absolute;
    top: 360px;
    left: 284px;
    font-size: 96px;
    font-weight: 700;
    line-height: 0.8;
    color: white;
    font-family: Oswald,sans-serif;
    padding: 35px 23px;
}
.paragraf h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    font-family: Oswald,sans-serif;
    text-align: justify;
    color: #111111;
    position: absolute;
    top: 384px;
    right: 280px;
}
.paragraf p {
    font-family: Montserrat,sans-serif;
    font-size: 1.125rem;
    line-height: 1.8;
    text-align: justify;
    color: #111111;
    position: absolute;
    bottom: 804px;
    right: 366px;
}
.consulting h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    font-family: Oswald,sans-serif;
    text-align: justify;
    color: #111111;
    position: absolute;
    bottom: 530px;
    right: 499px;
}
.consulting p {
    font-family: Montserrat,sans-serif;
    font-size: 1.125rem;
    line-height: 1.8;
    text-align: justify;
    color: #111111;
    position: absolute;
    bottom: 479px;
    left: 423px;
}
.boxes {
    border: 1px solid transparent;
    width: 1200px;
    height: 450px;
    position: absolute;
    bottom: 5px;
    right: 137px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}

.box1 {
    width: 263px;
    height: 411px;
    border:1px solid transparent;
    background-color: white;
    text-align: center;
    padding: 39px;
    position: relative;
    top: 107px;
    box-shadow: 5px 5px 0 0 rgb(0 0 0 / 20%); ;
   
}
.box1 h3 {
    font-family: Montserrat,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    color: #111111;
    line-height: 1.2;
    letter-spacing: 2px;

}
.box1 p {
    
    font-size: 1.125rem;
    font-style: italic;
    font-family: Montserrat,sans-serif;
    line-height: 1.8;
    color: #555c66 !important
}
.box1 a {
    color: #0f0f0f !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Montserrat,sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 10px;
}
.box2 {
    width: 263px;
    height: 411px;
    border:1px solid transparent;
    background-color: white;
    text-align: center;
    padding: 39px;
    box-shadow: 5px 5px 0 0 rgb(0 0 0 / 20%);;

}
.box2 h3 {
    font-family: Montserrat,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    color: #111111;
    line-height: 1.2;
    letter-spacing: 2px;

}
.box2 p {
    font-size: 1.125rem;
    font-style: italic;
    font-family: Montserrat,sans-serif;
    line-height: 1.8;
    color: #555c66 !important;
    

}
.box2 a {
    color: #0f0f0f !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Montserrat,sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 10px;

}
.fa-lightbulb {
    border: 1px solid transparent;
    width: 64px;
    height: 68px;
    font-size: 55px;
    padding: 5px;
    border-radius: 50%;
    background-color: #fdeaeb !important;
    color: red;
}
.fa-square-poll-horizontal {
    border: 1px solid transparent;
    width: 73px;
    height: 67px;
    font-size: 55px;
    padding: 5px;
    border-radius: 50%;
    background-color: #fdeaeb !important;
    color: red;
}
.fa-flask {
    border: 1px solid transparent;
    width: 64px;
    height: 68px;
    font-size: 55px;
    padding: 5px;
    border-radius: 50%;
    background-color: #fdeaeb !important;
    color: red;
}
.fa-user-large {
    border: 1px solid transparent;
    width: 67px;
    height: 71px;
    font-size: 55px;
    padding: 5px;
    border-radius: 50%;
    background-color: #fdeaeb !important;
    color: red;
}
.imgbox {
    width: 100%;
    height: 447px;
    background-image: url(images/fdrt-min.jpg);
    position: relative;
    bottom: 398px;
    z-index: -2;
}
/* end section */


 /* start about section */
.color-box {
    width: 100%;
    height: 779px;
    background:#e5e5e5;
    position: relative;
    bottom: 400px;
    z-index: -3;
}
.square-box {
    width: 431px;
    height: 285px;
    background-color: #e83f47;
    border: 1px solid transparent;
    margin: auto;
    position: absolute;
    top: 80px;
    right: 330px;
}
.quisque {
    width: 375px;
    height: 68px;
    text-align: justify;
    color: white;
    border: 1px solid transparent;
    font-size: 22px;
    font-weight: 700;
    font-family: Oswald,sans-serif;
    margin-left: 32px;
    margin-top: 43px;
    line-height: 1.2;
}
.article {
    width: 388px;
    height: 87px;
    border: 1px solid transparent;
    margin-left: 32px;
    margin-top: 13px;
    color: white;
    font-size: 0.875rem;
    line-height: 2;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    text-align: justify;
}
.text-box {
    width: 600px;
    height: 310px;
    border: 1px solid transparent;
    position: absolute;
    bottom: 92px;
    left: 213px;
}
.text-box h2 {
    border: 1px solid transparent;
    width: 576px;
    height: 106px;
    font-size: 3rem;
    font-weight: 700;
    text-align: right;
    font-family: Oswald,sans-serif;
    line-height: 1.1;
    margin-left: 22px;
    margin-top: 5px;
}
.text-box p {
    width: 575px;
    height: 195px;
    border: 1px solid transparent;
    text-align: right;
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    line-height: 1.8;
    margin-left: 22px;
    color: black;
}
.number-box {
    width: 166px;
    height: 123px;
    border: 1px solid transparent;
    font-size: 6rem;
    font-weight: 700;
    line-height: 0.8;
    font-family: Oswald,sans-serif;
    position: absolute;
    bottom: 271px;
    right: 354px;
}
/* end section */

/* start picture-boxs section */
.picture-boxs {
    width: 100%;
    height: 940px;
    border: 1px solid transparent;
    position: relative;
    bottom: 403px;
    z-index: -4;
}
.empty-box2 {
    width: 331px;
    height: 940px;
    background-color: #e83f47;
    position: absolute;
    top: 0;
    right: 612px;
}
.work-box {
    width: 555px;
    height: 470px;
    border: 1px solid transparent;
    position: absolute;
    top: 111px;
    left: 171px;
}
.work-box img {
    width: 100%;
}
.computer-box {
    width: 263px;
    height: 220px;
    border: 1px solid transparent;
    position: absolute;
    right: 499px;
    top: 111px;
}
.computer-box img {
    width: 100%;
}
.cofe-box {
    width: 263px;
    height: 220px;
    border: 1px solid transparent;
    position: absolute;
    bottom: 203px;
    left: 463px;
}
.cofe-box img {
    width: 100%;
}
.business-box {
    width: 555px;
    height: 391px;
    background-color: #292d33;
    position: absolute;
    right: 206px;
    top: 322px;
}
.business-box h2 {
    width: 501px;
    height: 225px;
    border: 1px solid transparent;
    font-size: 3rem;
    color: white;
    font-weight: 700;
    font-family: Oswald,sans-serif;
    line-height: 1.1;
    margin-left: 40px;
    margin-top: 45px;
}
.business-box p {
    width: 105px;
    height: 28px;
    border: 1px solid transparent;
    font-family: Montserrat,sans-serif;
    font-size: 1.125rem;
    line-height: 1.8;
    color: white;
    margin-left: 40px;
   
}
.business-box a {
    width: 30px;
    height: 15px;
    border: 1px solid transparent;
    color: white;
    font-family: Montserrat,sans-serif;
    font-size: 1.125rem;
    position: absolute;
    left: 144px;
    bottom: 103px;
}
.business-box:hover a {
    text-decoration: none;
}
/* end section */

/* start goals section */
.goal {
    width: 100%;
    height: 985px;
    border: 1px solid transparent;
    position: relative;
    bottom: 420px;
}
 .improve {
    width: 820px;
    height: 160px;
    border: 1px solid transparent;
    margin-left: 171px;
    margin-top: 40px;
} 
.improve h3 {
    width: 594px;
    height: 100px;
    border: 1px solid transparent;
    font-size: 3rem;
    color: #111111;
    font-weight: 700;
    line-height: 1.1;
    font-family: Oswald,sans-serif;
    text-align: justify;
}
.improve p {
    width: 815px;
    height: 30px;
    border: 1px solid transparent;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: Montserrat, sans-serif !important;
    line-height: 1.2;
    color: #111111;
    letter-spacing: 1.5px;
    margin-top: 15px;
}
.car-box {
    width: 570px;
    height: 535px;
    border: 1px solid transparent;
    margin-left: 171px;
    margin-top: 25px;
}
.car-box img {
    width: 85%;
}
.percent {
    width: 600px;
    height: 757px;
    border: 1px solid transparent;
    position: absolute;
    right: 155px;
    bottom: 0px;
}
.fifty-box {
    width: 250px;
    height: 250px;
    border: 1px solid transparent;
    float: left;
    margin: 20px;
}
.ninety-box {
    width: 250px;
    height: 250px;
    border: 1px solid transparent;
    float: right;
    margin: 20px;
}
.fifty-box h2 {
    width: 145px;
    height: 77px;
    font-size: 4.5rem;
    color: #e83f47 !important;
    font-weight: 700;
    line-height: 1.2;
    font-family: Oswald,sans-serif;
    margin: auto;
    margin-top: 10px;
}
.ninety-box h2 {
    width: 145px;
    height: 77px;
    font-size: 4.5rem;
    color: #e83f47 !important;
    font-weight: 700;
    line-height: 1.2;
    font-family: Oswald,sans-serif;
    margin: auto;
    margin-top: 10px;
}
.fifty-box p {
    width: 206px;
    height: 81px;
    font-size: 0.875rem;
    font-family: Montserrat,sans-serif;
    line-height: 1.8;
    color: #111111;
    font-weight: 400;
    margin: auto;
    margin-top: 20px;
}
.ninety-box p {
    width: 206px;
    height: 81px;
    font-size: 0.875rem;
    font-family: Montserrat,sans-serif;
    line-height: 1.8;
    color: #111111;
    font-weight: 400;
    margin: auto;
    margin-top: 20px;
}
.sample-text {
    width: 450px;
    height: 205px;
    border: 1px solid transparent;
    margin: auto;
    margin-top: 350px;
    margin-left: 10px;
    font-size: 1.125rem;
    line-height: 1.8;
    font-family: Montserrat,sans-serif;
    color: #111111;
    font-weight: 400;
    text-align: justify;
}
/* end */

/* start property section */
.property {
    width: 100%;
    height: 1600px;
    background-color: #e83f47;
    border: 1px solid transparent;
    position: relative;
    bottom: 120px;
}
.big-box {
    width: 1200px;
    height: 670px;
    border: 1px solid transparent;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.same_box {
    width: 555px;
    height: 270px;
    border: 1px solid transparent;
    margin-top: 25px;
    margin-left: 10px;
    background-color: #f2f2f2;
    position: relative;
    bottom: 263px;
}
.same_box h3 {
    width: 278px;
    height: 29px;
    border: 1px solid transparent;
    margin-top: 25px;
    margin-left: 45px;
    font-family: Montserrat, sans-serif !important;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: 2px;
    color: #111111;
}
.same_box p {
    width: 427px;
    height: 127px;
    border: 1px solid transparent;
    font-family: Montserrat,sans-serif;
    font-size: 1.125rem;
    line-height: 1.8;
    color: #111111;
    font-weight: 400;
    margin-left: 45px;
    margin-top: 10px;
}
.buttonBox {
    border: 3px solid white;
    width: 231px;
    height: 72px;
    padding: 25px 47px 20px 46px;
    position: relative;
    bottom: 225px;
    right: 127px;
   
}
.buttonBox a {
    color: white;
    letter-spacing: 2px;
    font-size: 1rem;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.buttonBox:hover{
    background-color: white;
}
.buttonBox:hover a {
    color: red;
}
.textBox {
    width: 590px;
    height: 340px;
    border: 1px solid transparent;
    margin-top: 25px;
    margin-left: 255px;
}
.textBox p {
    font-family: Montserrat,sans-serif;
    font-size: 1.125rem;
    line-height: 1.8;
    color: white;
}
.border-box {
    width: 300px;
    height: 200px;
    border-left: 5px solid white;
    position: absolute;
    right: 305px;
    top: 694px;
}
.border-box p {
    padding: 20px;
    font-style: italic;
    color: white;
    font-size: 19px;
}
.person-box {
    width: 900px;
    height: 600px;
    border: 1px solid transparent;
    background: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.info-box {
    width: 427px;
    height: 265px;
    border: 1px solid transparent;
    margin-left:10px;
    margin-top: 10px;
    position: relative;
}
.img_box {
    width: 150px;
    height: 150px;
    border: 1px solid transparent;
}
.img_box img {
    width: 100%;
    border-radius: 50%;
}
.info-box h3 {
    width: 224px;
    height: 37px;
    border: 1px solid transparent;
    position: relative;
    bottom: 142px;
    left: 182px;
    font-size: 1.875rem;
    font-family: Oswald, sans-serif !important;
    line-height: 1.2;
}
.info-box h5 {
    width: 232px;
    height: 20px;
    border: 1px solid transparent;
    font-size: 1rem;
    font-family: Montserrat,sans-serif !important;
    color: #e83f47 !important;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    bottom: 126px;
    left: 170px;
}
.info-box p {
    width: 220px;
    height: 78px;
    border: 1px solid transparent;
    position: relative;
    bottom: 114px;
    left: 177px;
    font-size: 0.875rem;
    font-style: italic;
    font-family: Montserrat,sans-serif;
    line-height: 1.8;
    color: #808080 !important;
    text-align: center;
}
.icon_box {
    width: 160px;
    height: 37px;
    border: 1px solid transparent;
    position: relative;
    bottom: 101px;
    left: 182px;
    text-align: center;
    font-size: 32px;
}
.icon_box a {
    text-decoration: none;
    color: #111111;
    margin-left: 15px;
}
.p-box {
    width: 192px;
    height: 51px;
    border: 1px solid transparent;
    position: relative;
    top: 530px;
    right: 525px;
}
.p-box p {
    width: 131px;
    height: 27px;
    border: 1px solid transparent;
    margin: 10px 0 0 0px;
    font-family: Montserrat,sans-serif;
    font-size: 1.125rem;
    line-height: 1.8;
    color: #000000 !important;
}
.p-box a {
    width: 50px;
    height: 20px;
    border: 1px solid transparent;
    position: relative;
    bottom: 27px;
    left: 126px;
    font-family: Montserrat,sans-serif;
    font-size: 1.125rem;
    line-height: 1.8;
    color: #000000 !important;
}
.link-box {
    border: 2px solid red;
    width: 231px;
    height: 72px;
    padding: 25px 47px 20px 46px;
    position: relative;
    top: 546px;
    right: 542px;
}
.link-box a {
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1rem;
    font-family: Montserrat,sans-serif;
    font-weight: 400;
}
.link-box:hover {
    background: red;
}
/* end */

/* start static section */
.static {
    width: 100%;
    height: 667px;
    position: relative;
    top: 425px;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
}
.left {
    width: 456px;
    height: 547px;
    border: 1px solid transparent;
    margin-top: 55px;
    margin-left: 165px;
    position: relative;
    
}
.right {
    width: 684px;
    height: 547px;
    border: 1px solid transparent;
    margin-top: 55px;
    margin-left: 65px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
   
}
.image_box {
    width: 394px;
    height: 461px;
    margin: 20px auto;
}
.image_box img {
    width: 100%;
}
.left p {
    width: 80px;
    height: 30px;
    border: 1px solid transparent;
    position: relative;
    bottom: 30px;
    left: 155px;
    text-align: center;
    font-family: Montserrat,sans-serif;
    font-size: 1.125rem;
    line-height: 1.8;
    color: #111111;
    font-weight: 400;
}
.left a {
    width: 67px;
    height: 24px;
    border: 1px solid transparent;
    position: relative;
    bottom: 58px;
    left: 236px;
    text-align: center;
    font-family: Montserrat,sans-serif;
    font-size: 1.125rem;
    line-height: 1.8;
    color: #111111;
    font-weight: 400;
}
.left a:hover{
    text-decoration: none;
}
.numberitto_box{
    width: 300px;
    height: 200px;
    border: 1px solid transparent;
}
.numberitto_box h2 {
    width: 287px;
    height: 101px;
    border: 1px solid transparent;
    color: #111111;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 1.4;
    font-family: Oswald,sans-serif;
}
.numberitto_box p {
    width: 287px;
    height: 72px;
    border: 1px solid transparent;
    font-size: 1.25rem;
    font-family: Montserrat,sans-serif;
    line-height: 1.8;
    color: #999999 !important;
}
/* end */












